<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin - Automatic Time Table Generator</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<style>
		body
		{
		background-image:url({{url_for('static',filename='img.png')}})

		}
	</style>
</head>
<body>
	<nav>
		<div class="nav-wrapper blue-grey darken-4">
	      <a href="{{url_for('adminHome')}}" class="brand-logo brand-title-l hide-on-med-and-down">AUTOMATIC TIME TABLE GENERATOR</a>
	      <a href="{{url_for('adminHome')}}" class="brand-logo brand-title-m hide-on-large-only">AUTOMATIC TIME TABLE GENERATOR</a>
	      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>

		    <ul id="nav-mobile" class="right  hide-on-med-and-down">
		    	<!-- <li>
		        	<a href="" class="nav-item">
		        		<i class="material-icons left white-text">people</i>
		        		<span class="hide-on-small-only">Lectures</span>
		        	</a>
		        </li> -->
		        <!-- <li>
		        	<a href="" class="nav-item">
		        		<i class="material-icons left white-text">table_view</i>
		        		<span class="hide-on-small-only">TIME TABLE</span>
		        	</a>
		        </li> -->
		        <li>
		        	<a href="" class="nav-item dropdown-trigger profile" data-target='dropdown2'>
		        		<i class="material-icons right white-text" style="font-size: 3rem; margin-left: .5rem;">account_circle</i>
		        		<span class="hide-on-small-only" style="text-transform: capitalize;">Hi Admin!</span>
		        	</a>
		        </li>
		      </ul>
		      <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('adminfeedbacklist')}}">FEEDBACK</a></li>
        </ul>
	    </div>
	</nav>

	<ul id="dropdown2" class="dropdown-content">
	  <li><a href="{{url_for('adminLogout')}}" class="indigo-text text-darken-4"><i class="material-icons">logout</i>Logout</a></li>
	</ul>

	<ul class="sidenav" id="mobile-demo">
		<li>
			<div class="user-view">
	            <div class="background">
	            	<img src="{{url_for('static', filename='images/user-bg.jpg')}}">
	            </div>
			    <a href="{{url_for('adminHome')}}">
			    	<img class="circle" src="{{url_for('static', filename='images/admin.png')}}">
			    </a>
			    <a href="{{url_for('adminHome')}}">
			    	<span class="white-text name" style="text-transform: capitalize;">Admin</span>
			    </a>
			    <a href="{{url_for('adminHome')}}">
			    	<span class="white-text email">admin@gmail.com</span>
			    </a>
            </div>
      </li>
	    <li><a href="{{url_for('adminHome')}}">Home</a></li>
	    <!-- <li><a href="">Lectures</a></li> -->
	    <!-- <li><a href="">Time Table</a></li> -->
	    <li><a href="{{url_for('adminLogout')}}">Logout</a></li>
	</ul>
	{% block content %}
	{%endblock%}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('.sidenav');
	    var instances = M.Sidenav.init(elems);
	  });
	</script>
	<script type="text/javascript">
		 	document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.product');
		    var options={coverTrigger:false,constrainWidth:false}
		    var instances = M.Dropdown.init(elems,options);
		  });
	</script>
	<script type="text/javascript">
		 	document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.profile');
		    var options={coverTrigger:false}
		    var instances = M.Dropdown.init(elems,options);
		  });
	</script>
	 <script type="text/javascript">
	  	 document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('.collapsible');
	    var instances = M.Collapsible.init(elems);
	  });

	  </script>

	  <script type="text/javascript">
	  	document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('select');
	    var instances = M.FormSelect.init(elems);
	  });
	  </script>

	  	<script type="text/javascript">
	      	var el = document.querySelector('.tabs');
	      	var instance = M.Tabs.init(el);
	    </script>

	    <script type="text/javascript">
		  	document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.slider');
		    var instances = M.Slider.init(elems);
		  });
		</script>
		<script type="text/javascript">
		  	document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.modal');
		    var instances = M.Modal.init(elems);
		  });
		</script>

		<script type="text/javascript">
	    	document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.dp-reg');
		    var options = {yearRange:[1950,2023], format:"dd/mm/yyyy"}
		    var instances = M.Datepicker.init(elems, options);
		  });
	    </script>

</body>
</html>