{% extends "layout_admin.html" %}
{% block content %}

<div class="row" style="margin-bottom: 0;">
	<div class="col s12" style="padding: 0;">
		<div class="row" style="margin-bottom: 0;">
			<div class="col s12" style="margin-top:.1rem;">
				<ul class="tabs">
			        <li class="tab col s4">
			        	<a href="#lecture-profile" class="indigo-text text-darken-4">PROFILE</a>
			        </li>
			        <li class="tab col s4">
			        	<a href="#lecture-days" class="indigo-text text-darken-4">AVAILABLE DAYS</a>
			        </li>
			        <li class="tab col s4">
			        	<a href="#lecture-subjects" class="indigo-text text-darken-4">SUBJECTS</a>
			        </li>
			    </ul>
			</div>
		</div>
	</div>
</div>

<div id="lecture-profile" class="col s12">
	<div class="row">
		{% if warning != '' %}
			<div class="col s12 center">
				<p class="white-text" style="font-weight: bold;">{{warning}}</p>
			</div>
		{% endif %}
		<div class="col s8 offset-s2 card-panel grey lighten-2" style="margin-top: 0rem; padding: 1rem;">
			<div class="row">
				<div class="col s12 center">
					<img src="{{lectureDetails['imgUrl']}}" class="circle" style="width: 6rem; height: 6rem;">
				</div>
				<div class="col s12 center">
					<h5 class="indigo-text text-darken-4" style="font-weight: bold; text-transform: capitalize; margin-top: .1rem; margin-bottom: 0">{{lectureDetails['name']}}</h5>
					<p class="blue-grey-text text-lighten-1" style="margin: 0;">{{lectureDetails['email']}}</p>
				</div>
				<div class="col s12" style="padding-left:1rem; padding-right: 1rem; margin-top: 1rem;">
					<span style="font-weight:bold;">Name</span>
					<span class="right" style="font-weight:bold; text-transform: capitalize;">{{lectureDetails['name']}}</span>
				</div>
				<div class="col s12" style="margin-top: 1rem;">
					<div class="divider blue-grey lighten-3"></div>
				</div>
				<div class="col s12" style="padding-left:1rem; padding-right: 1rem; margin-top: 1rem;">
					<span style="font-weight:bold;">Department</span>
					<span class="right" style="font-weight:bold; text-transform: capitalize;">{{lectureDetails['departmentDetails']['name']}}</span>
				</div>
				<div class="col s12" style="margin-top: 1rem;">
					<div class="divider blue-grey lighten-3"></div>
				</div>
				<div class="col s12" style="padding-left:1rem; padding-right: 1rem; margin-top: 1rem;">
					<span style="font-weight:bold;">Designation</span>
					<span class="right" style="font-weight:bold; text-transform: capitalize;">{{lectureDetails['designation']}}</span>
				</div>
				<div class="col s12" style="margin-top: 1rem;">
					<div class="divider blue-grey lighten-3"></div>
				</div>
				<div class="col s12" style="padding-left:1rem; padding-right: 1rem; margin-top: 1rem;">
					<span style="font-weight:bold;">Gender</span>
					<span class="right" style="font-weight:bold; text-transform: capitalize;">{{lectureDetails['gender']}}</span>
				</div>
				<div class="col s12" style="margin-top: 1rem;">
					<div class="divider blue-grey lighten-3"></div>
				</div>
				<div class="col s12" style="padding-left:1rem; padding-right: 1rem; margin-top: 1rem;">
					<span style="font-weight:bold;">Date of Birth</span>
					<span class="right" style="font-weight:bold; text-transform: capitalize;">{{lectureDetails['dob']}}</span>
				</div>
				<div class="col s12" style="margin-top: 1rem;">
					<div class="divider blue-grey lighten-3"></div>
				</div>
				<div class="col s12" style="padding-left:1rem; padding-right: 1rem; margin-top: 1rem;">
					<span style="font-weight:bold;">Email</span>
					<span class="right" style="font-weight:bold;">{{lectureDetails['email']}}</span>
				</div>
				<div class="col s12" style="margin-top: 1rem;">
					<div class="divider blue-grey lighten-3"></div>
				</div>
				<div class="col s12" style="padding-left:1rem; padding-right: 1rem; margin-top: 1rem;">
					<span style="font-weight:bold;">Mobile Number</span>
					<span class="right" style="font-weight:bold; text-transform: capitalize;">{{lectureDetails['mobileNumber']}}</span>
				</div>
				<div class="col s12" style="margin-top: 1rem;">
					<div class="divider blue-grey lighten-3"></div>
				</div>
				<div class="col s12" style="padding-left:1rem; padding-right: 1rem; margin-top: 1rem;">
					<span style="font-weight:bold;">Address</span>
					<span class="right" style="font-weight:bold; text-transform: capitalize;">{{lectureDetails['address']}}</span>
				</div>
				<div class="col s12" style="margin-top: 1rem;">
					<div class="divider blue-grey lighten-3"></div>
				</div>
				<div class="col s6 center" style="margin-top: 1rem;">
					<a href="{{url_for('editLectureProfile', lectureID=lectureID)}}" class="btn indigo darken-4">EDIT</a>
				</div>
				<div class="col s6 center" style="margin-top: 1rem;">
					<a href="#modal-delete" class="btn indigo darken-4 modal-trigger">DELETE</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="lecture-days" class="col s12">
	<div class="row">
		<div class="col l8 s10 offset-l2 offset-s1">
			<table class="centered highlight">
				<thead>
					<tr>
						<th>Days</th>
						<th>Availibility</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
						<tr style="font-weight: 500;" class="blue-grey-text text-lighten-2">
							<td style="font-weight: bold;">Monday</td>
							<td style="text-transform: capitalize; font-weight: bold;">{{lectureDetails['mon']}}</td>
							<td>
								<a href="#modal-change-monday" class="btn indigo darken-4 modal-trigger"><i class="material-icons white-text left">edit</i>CHANGE</a>
							</td>
						</tr>
						<tr style="font-weight: 500;" class="blue-grey-text text-lighten-2">
							<td style="font-weight: bold;">Tuesday</td>
							<td style="text-transform: capitalize; font-weight: bold;">{{lectureDetails['tue']}}</td>
							<td>
								<a href="#modal-change-tuesday" class="btn indigo darken-4 modal-trigger"><i class="material-icons white-text left">edit</i>CHANGE</a>
							</td>
						</tr>
						<tr style="font-weight: 500;" class="blue-grey-text text-lighten-2">
							<td style="font-weight: bold;">Wednesday</td>
							<td style="text-transform: capitalize; font-weight: bold;">{{lectureDetails['wed']}}</td>
							<td>
								<a href="#modal-change-wednesday" class="btn indigo darken-4 modal-trigger"><i class="material-icons white-text left">edit</i>CHANGE</a>
							</td>
						</tr>
						<tr style="font-weight: 500;" class="blue-grey-text text-lighten-2">
							<td style="font-weight: bold;">Thursday</td>
							<td style="text-transform: capitalize; font-weight: bold;">{{lectureDetails['thu']}}</td>
							<td>
								<a href="#modal-change-thursday" class="btn indigo darken-4 modal-trigger"><i class="material-icons white-text left">edit</i>CHANGE</a>
							</td>
						</tr>
						<tr style="font-weight: 500;" class="blue-grey-text text-lighten-2">
							<td style="font-weight: bold;">Friday</td>
							<td style="text-transform: capitalize; font-weight: bold;">{{lectureDetails['fri']}}</td>
							<td>
								<a href="#modal-change-friday" class="btn indigo darken-4 modal-trigger"><i class="material-icons white-text left">edit</i>CHANGE</a>
							</td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="lecture-subjects" class="col s12">
	<div class="row">
		<div class="col l8 s10 offset-l2 offset-s1 card-panel grey lighten-2" style="margin-top: 1rem; padding: 1rem;">
			<div class="row">
				<div class="col s12 center">
					<h5 class="indigo-text text-darken-4" style="text-decoration: underline; font-weight: bold; text-transform: uppercase;">ADD LECTURE SUBJECTS</h5>
				</div>
				<form action="{{url_for('addLectureSubjects')}}" method="post">
					<div class="input-field col s12">
			        	<i class="material-icons prefix">auto_stories</i>
					    <select name='subjectID' required>
					      <option value="" disabled selected>Choose subject</option>
					      {% for i in subjectList %}
					      	<option value="{{i}}" style="text-transform:capitalize;">SEM {{subjectList[i]['sem']}} - {{subjectList[i]['name']}}</option>
					      {% endfor %}
					    </select>
					</div>
	        <div class="col s12 center">
	        	<input type="hidden" name="lectureID" value="{{lectureID}}">
	      		<button type="submit" class="btn indigo darken-4" style="font-weight: bold;">ADD SUBJECT</button>
	      	</div>
				</form>
			</div>
		</div>

		<div class="col l8 s10 offset-l2 offset-s1">
			<table class="centered highlight">
				<thead>
					<tr class="white-text">
						<th>Subject</th>
						<th>Semester</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for i in lectureSubjects %}
						<tr style="font-weight: 500;" class="blue-grey-text text-lighten-2">
							<td style="text-transform: capitalize; font-weight: bold;">{{lectureSubjects[i]['name']}}</td>
							<td style="text-transform: capitalize; font-weight: bold;">{{lectureSubjects[i]['sem']}}</td>
							<td>
								<a href="#modal-remove-{{i}}" class="btn indigo darken-4 modal-trigger"><i class="material-icons white-text left">delete</i>REMOVE</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>
</div>

{% for i in lectureSubjects %}
	<div id="modal-remove-{{i}}" class="modal">
	    <div class="modal-content">
	      <h4 class="indigo-text text-darken-4">REMOVE SUBJECT FROM LECTURE</h4>
	      <p>Are you sure to remove subject from lecture?</p>
	    </div>
	    <div class="modal-footer">
	    	<form action="{{url_for('deleteLectureSubjects')}}" method="post">
	    		<input type="hidden" name="subjectID" value="{{i}}">
	    		<input type="hidden" name="lectureID" value="{{lectureID}}">
	    		<button type="submit" class="waves-effect waves-green btn-flat red-text">REMOVE</button>
	    	</form>
	    </div>
	</div>
{% endfor %}

<div id="modal-delete" class="modal">
    <div class="modal-content">
      <h4 class="indigo-text text-darken-4">DELETE LECTURE</h4>
      <p>Are you sure to delete this lecture?</p>
    </div>
    <div class="modal-footer">
    	<form action="{{url_for('deleteLecture')}}" method="post">
    		<input type="hidden" name="lectureID" value="{{lectureID}}">
    		<button type="submit" class="waves-effect waves-green btn-flat red-text">DELETE</button>
    	</form>
    </div>
</div>

<div id="modal-change-monday" class="modal">
	<form action="{{url_for('updateLecture')}}" method="post">
	    <div class="modal-content">
	      	<h4 class="indigo-text text-darken-4" style="text-transform: uppercase;">MONDAY AVAILIBILITY</h4>
	      	<div class="input-field col s12">
	        	<i class="material-icons prefix">event_available</i>
				    <select name='mon' required>
				      	<option value="yes" selected>yes</option>
				      <option value="no">no</option> 
				    </select>
				</div>
	    </div>
	    <div class="modal-footer">
    		<input type="hidden" name="lectureID" value="{{lectureID}}">
    		<button type="submit" class="waves-effect waves-green btn-flat indigo-text text-darken-4">UPDATE</button>
	    </div>
	</form>
</div>

<div id="modal-change-tuesday" class="modal">
	<form action="{{url_for('updateLecture')}}" method="post">
	    <div class="modal-content">
	      	<h4 class="indigo-text text-darken-4" style="text-transform: uppercase;">TUESDAY AVAILIBILITY</h4>
	      	<div class="input-field col s12">
	        	<i class="material-icons prefix">event_available</i>
				    <select name='tue' required>
				      	<option value="yes" selected>yes</option>
				      <option value="no">no</option> 
				    </select>
				</div>
	    </div>
	    <div class="modal-footer">
    		<input type="hidden" name="lectureID" value="{{lectureID}}">
    		<button type="submit" class="waves-effect waves-green btn-flat indigo-text text-darken-4">UPDATE</button>
	    </div>
	</form>
</div>

<div id="modal-change-wednesday" class="modal">
	<form action="{{url_for('updateLecture')}}" method="post">
	    <div class="modal-content">
	      	<h4 class="indigo-text text-darken-4" style="text-transform: uppercase;">WEDNESDAY AVAILIBILITY</h4>
	      	<div class="input-field col s12">
	        	<i class="material-icons prefix">event_available</i>
				    <select name='wed' required>
				      	<option value="yes" selected>yes</option>
				      <option value="no">no</option> 
				    </select>
				</div>
	    </div>
	    <div class="modal-footer">
    		<input type="hidden" name="lectureID" value="{{lectureID}}">
    		<button type="submit" class="waves-effect waves-green btn-flat indigo-text text-darken-4">UPDATE</button>
	    </div>
	</form>
</div>

<div id="modal-change-thursday" class="modal">
	<form action="{{url_for('updateLecture')}}" method="post">
	    <div class="modal-content">
	      	<h4 class="indigo-text text-darken-4" style="text-transform: uppercase;">THURSDAY AVAILIBILITY</h4>
	      	<div class="input-field col s12">
	        	<i class="material-icons prefix">event_available</i>
				    <select name='thu' required>
				      	<option value="yes" selected>yes</option>
				      <option value="no">no</option> 
				    </select>
				</div>
	    </div>
	    <div class="modal-footer">
    		<input type="hidden" name="lectureID" value="{{lectureID}}">
    		<button type="submit" class="waves-effect waves-green btn-flat indigo-text text-darken-4">UPDATE</button>
	    </div>
	</form>
</div>

<div id="modal-change-friday" class="modal">
	<form action="{{url_for('updateLecture')}}" method="post">
	    <div class="modal-content">
	      	<h4 class="indigo-text text-darken-4" style="text-transform: uppercase;">FRIDAY AVAILIBILITY</h4>
	      	<div class="input-field col s12">
	        	<i class="material-icons prefix">event_available</i>
				    <select name='fri' required>
				    	<option value="yes" selected>yes</option>
				      <option value="no">no</option> 	
				    </select>
				</div>
	    </div>
	    <div class="modal-footer">
    		<input type="hidden" name="lectureID" value="{{lectureID}}">
    		<button type="submit" class="waves-effect waves-green btn-flat indigo-text text-darken-4">UPDATE</button>
	    </div>
	</form>
</div>

{% endblock %}