<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Automatic Time Table Generator</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<style>
		body
		{
		background-image:url({{url_for('static',filename='img.png')}})

		}
	</style>
</head>
<body>
	<nav>
    <div class="nav-wrapper blue-grey darken-4">
        <a href="{{url_for('userHome')}}" class="brand-logo">AUTOMATIC TIME TABLE GENERATOR</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{url_for('userfeedback')}}">FEEDBACK</a></li>
        </ul>
    </div>
</nav>

	{% block content %}
	{%endblock%}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('.sidenav');
	    var instances = M.Sidenav.init(elems);
	  });
	</script>
	<script type="text/javascript">
		 	document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.product');
		    var options={coverTrigger:false,constrainWidth:false}
		    var instances = M.Dropdown.init(elems,options);
		  });
	</script>
	<script type="text/javascript">
		 	document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.profile');
		    var options={coverTrigger:false}
		    var instances = M.Dropdown.init(elems,options);
		  });
	</script>
	 <script type="text/javascript">
	  	 document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('.collapsible');
	    var instances = M.Collapsible.init(elems);
	  });

	  </script>

	  <script type="text/javascript">
	  	document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('select');
	    var instances = M.FormSelect.init(elems);
	  });
	  </script>

	  	<script type="text/javascript">
	      	var el = document.querySelector('.tabs');
	      	var instance = M.Tabs.init(el);
	    </script>

	    <script type="text/javascript">
		  	document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.slider');
		    var instances = M.Slider.init(elems);
		  });
		</script>
		<script type="text/javascript">
		  	document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.modal');
		    var instances = M.Modal.init(elems);
		  });
		</script>

		<script type="text/javascript">
	    	document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.dp-reg');
		    var options = {yearRange:[1950,2023], format:"dd/mm/yyyy"}
		    var instances = M.Datepicker.init(elems, options);
		  });
	    </script>

</body>
</html>